<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="columnConfig_G-rich loop rotation">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Back pocket">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Chain">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_RMSD2">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_RMSD1">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Quality score">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-II-in">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Missing residues">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Ligand">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Kinase ID">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-II-A-in">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-V">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Gate area">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-IV">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Pocket sequence">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_PDB">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-II-B">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_G-rich loop angle">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Allosteric ligand">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Species">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Alternate model">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-I-A">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-I-B">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_G-rich loop distance">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-II-B-in">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_FP-I">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-II-out">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_DFG conformation">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Front pocket">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_αC-helix conformation">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Missing atoms">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Kinase">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_BP-III">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_FP-II">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Structure ID">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<config key="columnConfig_Resolution">
<entry key="checkerFactory" type="xstring" value="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory"/>
<config key="internals">
<config key="ignoreColumnProperties_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreColumnProperties" type="xboolean" value="false"/>
<config key="ignoreDomain_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignoreDomain" type="xboolean" value="true"/>
</config>
</config>
<entry key="ignoreRowIds" type="xboolean" value="true"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.testing.internal.nodes.differ.DifferenceCheckerNodeFactory"/>
<entry key="node-name" type="xstring" value="Table Difference Checker"/>
<entry key="node-bundle-name" type="xstring" value="Test-Node extension for KNIME Workbench"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.testing"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.2.1.v201608182043"/>
<entry key="node-feature-name" type="xstring" value="KNIME Testing Framework"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.testingapplication.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.2.1.v201608182043"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Difference Checker"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
